body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    margin-top: 100px;
    width: 700px;
    height: 1000px;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 24px;
}

#display {
    width: 600px;
    height: 200px;
    background-color: white;
    border: 4px inset rgba(0, 0, 0, 0.75);
    margin: 20px;
    font-size: 80px;
    text-align: center;
}

#workingDisplay {
    font-size: 20px;
    text-align: right;
}

#buttons {
    margin: 20px;
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: lavender;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: solid black 2px;
    border-radius: 16px;
    text-align: center;
    margin: 20px;
    padding: 4px;
    flex-grow: 1;
}